*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
.footer-body{
    background-color: rgb(219,188,160);
    width: 100%;
text-align: center;
color: rgb(47,31,20);
font-size: 15px;
font-family: 'Abel', sans-serif;
padding: 10px 0;
}